* {
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-half {
    width: 50%;
}

.column-3rd {
    width: 33%;
}

.column-4th {
    width: 25%;
}

.column-10th {
    width: 10%
}

#nhs-logo {
    float: right;
    margin-right: 2%;
    margin-top: 40px;
    width: 8%;
}

#watch-logo {
    margin-left: 2%;
    margin-top: 35px;
    width: 30%;
}
nav {
    background-color: rgb(127, 0, 127);
    margin-top: 20px;
    height: 59px;
}

nav ul {
    height: 60px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 1.6em
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #EBBD17;
}

.active a {
    padding: 15px;
    background-color: #fff;
    color: rgb(127, 0, 127);
}

.active a:hover {
    color: rgb(127, 0, 127)
}