* {
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-half {
    width: 50%;
}

.column-3rd {
    width: 33%;
}

.column-4th {
    width: 25%;
}

.column-10th {
    width: 10%
}

#nhs-logo {
    float: right;
    margin-right: 2%;
    margin-top: 10px;
}

#watch-logo {
    margin-left: 1%;
    margin-top: 10px;
}
nav {
    background-color: rgb(127, 0, 127);
}

nav ul {
    margin-top: 30px;
    height: 60px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}